@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif !important;
}

.topology-editor {
  display: flex;
  height: auto;
  margin: 25px 15px 0;
}
.topology-editor .creator {
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      rgb(128, 128, 128, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(128, 128, 128, 0.1) 1px, transparent 1px);
  /* background-color: whitesmoke; */
  height: auto;
  width: 75%;
  margin: 0 20px 0 0;
  border-radius: 10px;
  position: relative;
  border: 1px solid #c5d3ef;
}
.topology-editor .creator .open-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  cursor: pointer;
  z-index: 9999;
}
.topology-editor .creator .wrapper {
  width: 100%;
  height: 100%;
}
.topology-editor .editor-options {
  width: 25%;
  background: whitesmoke;
  border-radius: 10px;
  border: 1px solid #c5d3ef;
}
.topology-editor .editor-options .modal {
  width: 95%;
  margin: auto;
  border-radius: 0 0 10px 10px;
}
.topology-editor .editor-options .modal ul {
  list-style: none;
  display: flex;
  color: #000;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0;
}
.topology-editor .editor-options .modal ul li {
  width: 135px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}
.topology-editor .editor-options .modal .close-modal {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}
.topology-editor .editor-options .selected-node {
  border: 1px solid #b5cedf;
  background: #e1e7f4;
  border-radius: 10px;
}

.custom-node {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-options ul li {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 5px;
}
.editor-options ul li img {
  height: 25px;
}

.topology-editor .editor-options .modal ul li {
  width: 100%;
  padding: 5px;
}

.editor-options {
  overflow-y: auto;
  padding: 0 15px;
  border: 1px solid #e2e7f1;
}

.editor-options input,
.editor-options button {
  border: 1px solid #e2e7f1;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.form-inputs input[type="text"],
.form-inputs select,
.form-inputs textarea {
  border-color: transparent;
  border-bottom-color: rgb(0, 0, 58);
  border-radius: 2px;
  border-width: 1px;
  margin: 5px 0;
}
.form-inputs input[type="text"]:focus,
.form-inputs select:focus,
.form-inputs textarea:focus {
  outline: none;
}
.form-inputs input[type="text"]:disabled,
.form-inputs select:disabled,
.form-inputs textarea:disabled {
  background: rgb(0, 0, 0, 0.1);
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 2%;
  margin: 20px;
}

.card {
  position: relative;
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  /* margin-bottom: 2%; */
  width: 50%;
  min-width: 400px;
  box-sizing: border-box;
  overflow: hidden;
  /* height: 500px; */
}
.card > div {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#container {
  height: 500px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 700px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
#container {
  height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.highcharts-credits {
  display: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

body a {
  text-decoration: none !important;
  color: black;
}

body a:hover {
  text-decoration: none !important;
  color: black;
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: white;
  height: 50px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  /* background-color: red; */
  background: transparent linear-gradient(273deg, #c52828 0%, #e95555 100%);
  /* box-shadow: inset 0 0 0 3px white; */
  border: 4px solid white;
}

.css-1aquho2-MuiTabs-indicator {
  height: 100% !important;
  border-radius: 50vw;
  /* margin: 10px 0px; */
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  border-radius: 50vw;
  overflow: hidden;
  z-index: 1;
  /* padding:0; */
  padding: 0px 15px;
  min-height: 10px;
  max-height: 36px;
}

.MuiTabs-flexContainer.MuiTabs-centered.css-1wf8b0h-MuiTabs-flexContainer {
  width: fit-content;
  border-radius: 50vw;
  overflow: hidden;
  border: 1px solid #d5c5ee;
  height: max-content;
  z-index: 1;
}

.MuiTabs-scroller.MuiTabs-fixed.css-jpln7h-MuiTabs-scroller {
  display: flex;
  justify-content: center;
  height: max-content;
}

.css-1ujnqem-MuiTabs-root {
  min-height: 0;
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0;
}

.cloud-tabs button {
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 0ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.cloud-tabs button.Mui-selected {
  background-color: white !important;
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.cloud-tabs button:not(.Mui-selected) {
  background-color: rgb(247, 247, 247) !important;
  opacity: 0.8;
}

.cloud-tabs button:not(.Mui-selected):hover {
  background-color: rgb(249, 249, 249) !important;
  opacity: 1;
}

span.MuiTabs-indicator.css-10d9dml-MuiTabs-indicator {
  opacity: 0;
  height: 100%;
  width: 100% !important;
  background-color: white;
  border-radius: 0.75rem;
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0 !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

.circle-loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 10000;
}
.circle-loader::after {
  content: "Loading";
  color: white;
  font-size: 18px;
}

.circle-loader::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid white;
  border-bottom-color: transparent;
  animation: loader 1s infinite;
}
@keyframes loader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
